.meme {
  break-inside: avoid;
  background: #fff;
  border-radius: 2px;
  padding: 4px 16px 16px;
  color: #000;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.meme:hover {
  box-shadow: 0 4px 6px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.meme + .meme {
  margin-top: 16px;
}

.meme-title {
  font-size: .8em;
  font-weight: normal;
  text-transform: uppercase;
  overflow-x: hidden;
}

.meme-image {
  width: 100%;
  height: auto;
}
