.display-meme {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  background: #282c34;
}

.display-meme__image--hidden {
  display: none;
}

.display-meme__canvas {
  width: 65%;
}

.display-meme__download {
  color: #282c34;
  background: #fff;
  text-decoration: none;
  font-size: .5em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: 16px;
  right: 16px;
  transition: .2s;
}

.display-meme__download:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, .6);
}

@media screen and (max-width: 580px) {
  .display-meme {
    position: relative;
    width: 100%;
    height: 100vh;
  }
}
